/*! normalize.css v3.0.1 | MIT License | git.io/normalize */
@import url("http://fonts.googleapis.com/css?family=Roboto:100,400,500,700");
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

a {
  background: transparent; }

a:active,
a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

*, :after, :before {
  box-sizing: border-box; }

/**
 * App-wide Styles
 */
html, body {
  padding: 0;
  margin: 0;
  font-family: Roboto, Helvetica, Arial; }

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

a {
  cursor: pointer; }

body.adsview {
  font: 16px/26px Roboto, Helvetica, Helvetica Neue, Arial;
  background: #c5c5c5;
  /* ==========================================================================
     Media Queries
     ========================================================================== */
  /* ================
      Helper classes
     ================ */ }
  body.adsview .header {
    position: fixed;
    top: 0;
    left: 0;
    height: 40px;
    width: 100%;
    z-index: 2;
    background: #0391d6;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5); }
    body.adsview .header .text {
      font-size: 15px;
      color: #fff;
      text-align: center;
      line-height: 40px;
      text-shadow: 0 2px rgba(3, 118, 204, 0.75);
      margin: 0; }
      body.adsview .header .text:before {
        position: absolute;
        left: 50%;
        margin-left: -10px;
        bottom: -8px;
        content: "";
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 8px 10px 0;
        border-color: #0391d6 transparent transparent transparent; }
  body.adsview .main-container {
    margin-top: 40px;
    /* ==================
        Preloader
       ================== */
    /* ==================
        Load more button
       ================== */
    /* ==============
        List item
       ============== */ }
    body.adsview .main-container .spinner {
      text-align: center;
      clear: both;
      padding-top: 20px; }
    body.adsview .main-container .load-button {
      text-align: center;
      clear: both;
      margin-bottom: 25px; }
      body.adsview .main-container .load-button .button {
        background: #75be62;
        background: -moz-linear-gradient(top, #75be62 0%, #2b9c0e 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #75be62), color-stop(100%, #2b9c0e));
        background: -webkit-linear-gradient(top, #75be62 0%, #2b9c0e 100%);
        background: -o-linear-gradient(top, #75be62 0%, #2b9c0e 100%);
        background: -ms-linear-gradient(top, #75be62 0%, #2b9c0e 100%);
        background: linear-gradient(to bottom, #75be62 0%, #2b9c0e 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#75be62', endColorstr='#2b9c0e',GradientType=0 );
        color: #fff;
        text-shadow: 0 2px rgba(41, 142, 15, 0.5);
        font-size: 16px;
        padding: 0 13px;
        line-height: 30px;
        font-weight: bold;
        box-shadow: 0 3px 0 #298311;
        text-align: center;
        text-decoration: none;
        box-sizing: border-box;
        position: relative;
        white-space: nowrap;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
        font-size: 13px;
        border: none;
        margin-top: 20px; }
        body.adsview .main-container .load-button .button:active {
          box-shadow: 0 1px 0 #298311;
          bottom: -2px; }
    body.adsview .main-container .item-list {
      width: 100%;
      /* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
       *                                                             *
       *  Offer frame                                                *
       *                                                             *
       * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */ }
      body.adsview .main-container .item-list .item-list-element {
        box-sizing: border-box;
        width: 100%;
        height: 120px;
        overflow: hidden;
        background: #dbdbdb;
        background: -moz-linear-gradient(10deg, #dbdbdb 0%, #ffffff 100%);
        background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, #dbdbdb), color-stop(100%, #ffffff));
        background: -webkit-linear-gradient(10deg, #dbdbdb 0%, #ffffff 100%);
        background: -o-linear-gradient(10deg, #dbdbdb 0%, #ffffff 100%);
        background: -ms-linear-gradient(10deg, #dbdbdb 0%, #ffffff 100%);
        background: linear-gradient(10deg, #dbdbdb 0%, #ffffff 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dbdbdb', endColorstr='#ffffff',GradientType=1 );
        border-bottom: 1px solid #efefef;
        border-right: 1px solid #efefef; }
        body.adsview .main-container .item-list .item-list-element .wrapper {
          padding: 10px;
          /*
           * Icon
           * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
          /*
           * Content container
           * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
          /*
           * Action buttons container
           * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */ }
          body.adsview .main-container .item-list .item-list-element .wrapper .item-list-element-icon {
            box-sizing: border-box;
            float: left;
            width: 100px;
            height: 100px;
            overflow: hidden;
            margin-right: 10px; }
            body.adsview .main-container .item-list .item-list-element .wrapper .item-list-element-icon img {
              display: inline-block;
              max-width: 100%;
              overflow: hidden;
              -webkit-border-radius: 2px;
              -moz-border-radius: 2px;
              border-radius: 2px; }
          body.adsview .main-container .item-list .item-list-element .wrapper .item-list-element-content {
            width: auto;
            box-sizing: border-box;
            position: relative;
            /*
             * Title
             * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
            /*
             * Tags
             * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
            /*
             * Description
             * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */ }
            body.adsview .main-container .item-list .item-list-element .wrapper .item-list-element-content h2.item-list-element-title {
              color: #323232;
              font-weight: bold;
              margin: 0;
              overflow: hidden;
              font-size: 18px;
              line-height: 20px;
              height: 22px; }
            body.adsview .main-container .item-list .item-list-element .wrapper .item-list-element-content .item-list-element-tags {
              margin-bottom: 0px;
              height: 14px;
              overflow: hidden; }
              body.adsview .main-container .item-list .item-list-element .wrapper .item-list-element-content .item-list-element-tags span {
                background: #ddd;
                color: #666;
                font-size: 10px;
                line-height: 10px;
                text-transform: uppercase;
                padding: 2px 8px;
                -webkit-border-radius: 15px;
                -moz-border-radius: 15px;
                border-radius: 15px;
                display: block;
                float: left; }
            body.adsview .main-container .item-list .item-list-element .wrapper .item-list-element-content .item-list-element-description {
              margin: 0;
              color: #909090;
              font-size: 14px;
              max-height: 56px;
              overflow: hidden;
              -o-transition: max-height 700ms;
              -moz-transition: max-height 700ms;
              -webkit-transition: max-height 700ms;
              transition: max-height 700ms; }
          body.adsview .main-container .item-list .item-list-element .wrapper .item-list-element-options {
            width: 100%;
            position: relative;
            padding-top: 0px;
            text-align: right;
            line-height: 30px;
            margin-top: 5px;
            /*
             * Action buttons
             * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */ }
            body.adsview .main-container .item-list .item-list-element .wrapper .item-list-element-options .item-list-element-remaining {
              color: #f8941d;
              font-weight: normal;
              font-size: 16px;
              right: 120px;
              bottom: 2px;
              -webkit-border-radius: 2px;
              -moz-border-radius: 2px;
              border-radius: 2px;
              font-size: 13px;
              float: right; }
            body.adsview .main-container .item-list .item-list-element .wrapper .item-list-element-options .item-list-element-button {
              float: right;
              background: #75be62;
              background: -moz-linear-gradient(top, #75be62 0%, #2b9c0e 100%);
              background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #75be62), color-stop(100%, #2b9c0e));
              background: -webkit-linear-gradient(top, #75be62 0%, #2b9c0e 100%);
              background: -o-linear-gradient(top, #75be62 0%, #2b9c0e 100%);
              background: -ms-linear-gradient(top, #75be62 0%, #2b9c0e 100%);
              background: linear-gradient(to bottom, #75be62 0%, #2b9c0e 100%);
              filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#75be62', endColorstr='#2b9c0e',  GradientType=0 );
              color: #fff;
              text-shadow: 0 2px rgba(41, 142, 15, 0.5);
              font-size: 16px;
              padding: 0 13px;
              line-height: 30px;
              font-weight: bold;
              box-shadow: 0 3px 0 #298311;
              text-align: center;
              text-decoration: none;
              box-sizing: border-box;
              position: relative;
              display: block;
              width: 110px;
              white-space: nowrap;
              -webkit-border-radius: 2px;
              -moz-border-radius: 2px;
              border-radius: 2px;
              font-size: 13px;
              float: right;
              margin-left: 10px; }
              body.adsview .main-container .item-list .item-list-element .wrapper .item-list-element-options .item-list-element-button:active {
                box-shadow: 0 1px 0 #298311;
                bottom: 0px; }
  @media only screen and (min-width: 640px) {
    body.adsview {
      /* ====================
          INTERMEDIATE:
         ==================== */ }
      body.adsview .main-container .item-list .item-list-element {
        width: 50%;
        float: left; } }
  @media only screen and (min-width: 1000px) {
    body.adsview {
      /* ====================
          WIDE:
         ==================== */ }
      body.adsview .main-container .item-list .item-list-element {
        width: 33.3%; } }
  @media only screen and (min-width: 1300px) {
    body.adsview {
      /* ===============
          Maximal Width
         =============== */ }
      body.adsview .main-container .item-list .item-list-element {
        width: 25%; } }
  body.adsview .clearfix:before,
  body.adsview .clearfix:after {
    content: " ";
    display: table; }
  body.adsview .clearfix:after {
    clear: both; }
  body.adsview .ie7 .clearfix {
    *zoom: 1; }

/*# sourceMappingURL=app.css.map */
