@import 'normalize.scss';

@import url("http://fonts.googleapis.com/css?family=Roboto:100,400,500,700");

*, :after, :before {
    box-sizing: border-box;
}

/**
 * App-wide Styles
 */

html, body {
    padding: 0;
    margin: 0;
    font-family: Roboto, Helvetica, Arial;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

a{
    cursor: pointer;
}

@import 'files.scss';