body.adsview{
    font: 16px/26px Roboto, Helvetica, Helvetica Neue, Arial;
    background: #c5c5c5;

    .header {
        position: fixed;
        top: 0;
        left: 0;
        height: 40px;
        width: 100%;
        z-index: 2;
        background: #0391d6;
        box-shadow: 0 2px 10px rgba(0,0,0,0.5);

        .text{
            font-size: 15px;
            color: #fff;
            text-align: center;
            line-height: 40px;
            text-shadow: 0 2px rgba(3,118,204, 0.75);
            margin: 0;

            &:before {
                position: absolute;
                left: 50%;
                margin-left: -10px;
                bottom: -8px;
                content: "";
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 8px 10px 0;
                border-color: #0391d6 transparent transparent transparent;
            }
        }
    }

    .main-container {
       margin-top: 40px;

        /* ==================
            Preloader
           ================== */

        .spinner {
            text-align: center;
            clear: both;
            padding-top: 20px;
            // display: none;
        }

        /* ==================
            Load more button
           ================== */

        .load-button {
            text-align: center;
            clear: both;
            margin-bottom: 25px;

            .button {
                background: #75be62;
                background: -moz-linear-gradient(top,  #75be62 0%, #2b9c0e 100%);
                background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#75be62), color-stop(100%,#2b9c0e));
                background: -webkit-linear-gradient(top,  #75be62 0%,#2b9c0e 100%);
                background: -o-linear-gradient(top,  #75be62 0%,#2b9c0e 100%);
                background: -ms-linear-gradient(top,  #75be62 0%,#2b9c0e 100%);
                background: linear-gradient(to bottom,  #75be62 0%,#2b9c0e 100%);
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#75be62', endColorstr='#2b9c0e',GradientType=0 );
                color: #fff;
                text-shadow: 0 2px rgba(41,142,15, 0.5);
                font-size: 16px;
                padding: 0 13px;
                line-height: 30px;
                font-weight: bold;
                box-shadow: 0 3px 0 #298311;
                text-align: center;
                text-decoration: none;
                box-sizing: border-box;
                position: relative;
                white-space: nowrap;
                -webkit-border-radius: 2px;
                -moz-border-radius: 2px;
                border-radius: 2px;
                font-size: 13px;
                border: none;
                margin-top: 20px;

                &:active {
                    box-shadow: 0 1px 0 #298311;
                    bottom: -2px;
                }
            }
        }

        /* ==============
            List item
           ============== */

        .item-list {
            width: 100%;

            /* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
             *                                                             *
             *  Offer frame                                                *
             *                                                             *
             * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

            .item-list-element {
                box-sizing: border-box;
                width: 100%;
                height: 120px;
                overflow: hidden;
                background: #dbdbdb;
                background: -moz-linear-gradient(10deg,  #dbdbdb 0%, #ffffff 100%);
                background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#dbdbdb), color-stop(100%,#ffffff));
                background: -webkit-linear-gradient(10deg,  #dbdbdb 0%,#ffffff 100%);
                background: -o-linear-gradient(10deg,  #dbdbdb 0%,#ffffff 100%);
                background: -ms-linear-gradient(10deg,  #dbdbdb 0%,#ffffff 100%);
                background: linear-gradient(10deg,  #dbdbdb 0%,#ffffff 100%);
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dbdbdb', endColorstr='#ffffff',GradientType=1 );
                border-bottom: 1px solid #efefef;
                border-right: 1px solid #efefef;

                .wrapper{
                    padding: 10px;

                    /*
                     * Icon
                     * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

                    .item-list-element-icon {
                        box-sizing: border-box;
                        float: left;
                        width: 100px;
                        height: 100px;
                        overflow: hidden;
                        margin-right: 10px;

                        img {
                            display: inline-block;
                            max-width: 100%;
                            overflow:hidden;
                            -webkit-border-radius: 2px;
                            -moz-border-radius: 2px;
                            border-radius: 2px;
                        }
                    }

                    /*
                     * Content container
                     * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

                    .item-list-element-content {
                        width: auto;
                        box-sizing: border-box;
                        position: relative;

                        /*
                         * Title
                         * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

                        h2.item-list-element-title {
                            color: #323232;
                            font-weight: bold;
                            margin: 0;
                            overflow: hidden;
                            font-size: 18px;
                            line-height: 20px;
                            height: 22px;
                        }

                        /*
                         * Tags
                         * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

                        .item-list-element-tags {
                            margin-bottom: 0px;
                            height: 14px;
                            overflow: hidden;

                            span {
                                background: #ddd;
                                color: #666;
                                font-size: 10px;
                                line-height: 10px;
                                text-transform: uppercase;
                                padding: 2px 8px;
                                -webkit-border-radius: 15px;
                                -moz-border-radius: 15px;
                                border-radius: 15px;
                                display: block;
                                float: left;
                            }
                        }

                        /*
                         * Description
                         * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

                        .item-list-element-description {
                            margin: 0;
                            color: #909090;
                            font-size: 14px;
                            max-height: 56px;
                            overflow: hidden;
                            -o-transition: max-height 700ms;
                            -moz-transition: max-height 700ms;
                            -webkit-transition: max-height 700ms;
                            transition: max-height 700ms;
                        }
                    }


                    /*
                     * Action buttons container
                     * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

                    .item-list-element-options {
                        width: 100%;
                        position: relative;
                        padding-top: 0px;
                        text-align: right;
                        line-height: 30px;
                        margin-top: 5px;

                        /*
                         * Action buttons
                         * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

                        .item-list-element-remaining {
                            color: #f8941d;
                            font-weight: normal;
                            font-size: 16px;
                            right: 120px;
                            bottom: 2px;
                            -webkit-border-radius: 2px;
                            -moz-border-radius: 2px;
                            border-radius: 2px;
                            font-size: 13px;
                            float: right;
                        }

                        .item-list-element-button {
                            float: right;
                            background: #75be62;
                            background: -moz-linear-gradient(top,  #75be62 0%, #2b9c0e 100%);
                            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#75be62), color-stop(100%,#2b9c0e));
                            background: -webkit-linear-gradient(top,  #75be62 0%,#2b9c0e 100%);
                            background: -o-linear-gradient(top,  #75be62 0%,#2b9c0e 100%);
                            background: -ms-linear-gradient(top,  #75be62 0%,#2b9c0e 100%);
                            background: linear-gradient(to bottom,  #75be62 0%,#2b9c0e 100%);
                            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#75be62', endColorstr='#2b9c0e',  GradientType=0 );
                            color: #fff;
                            text-shadow: 0 2px rgba(41,142,15, 0.5);
                            font-size: 16px;
                            padding: 0 13px;
                            line-height: 30px;
                            font-weight: bold;
                            box-shadow: 0 3px 0 #298311;
                            text-align: center;
                            text-decoration: none;
                            box-sizing: border-box;
                            position: relative;
                            display: block;
                            width: 110px;
                            white-space: nowrap;
                            -webkit-border-radius: 2px;
                            -moz-border-radius: 2px;
                            border-radius: 2px;
                            font-size: 13px;
                            float: right;
                            margin-left: 10px;

                            &:active {
                                box-shadow: 0 1px 0 #298311;
                                bottom: 0px;
                            }
                        }
                    }

                }
            }

        }

    }


    /* ==========================================================================
       Media Queries
       ========================================================================== */

    @media only screen and (min-width: 640px) {

    /* ====================
        INTERMEDIATE:
       ==================== */

        .main-container {

            .item-list {

                .item-list-element {
                    width: 50%;
                    float: left;
                }
            }
        }

    }

    @media only screen and (min-width: 1000px) {

    /* ====================
        WIDE:
       ==================== */

        .main-container {

            .item-list {

                .item-list-element {
                    width: 33.3%;
                }
            }
        }

    }

    @media only screen and (min-width: 1300px) {

    /* ===============
        Maximal Width
       =============== */

        .main-container {

            .item-list {

                .item-list-element {
                    width: 25%;
                }
            }
        }

    }


    /* ================
        Helper classes
       ================ */

    .clearfix:before,
    .clearfix:after {
        content: " ";
        display: table;
    }

    .clearfix:after {
        clear: both;
    }

    .ie7 .clearfix {
        *zoom: 1;
    }

}
