@import "../fonts/fonts.css";
@import "bootstrap.less";
//@import "responsive.less";


@blueDark: darken(@blue, 10%);
@blue: darken(#4b7ba3, 10%);
@blueLight: lighten(@blue, 10%);
@blueLighter: lighten(@blue, 58%);

@grayLightest: #dddde0;
@grayLighter: #c7c9cb;
@grayLight: #abaeb2;
@gray: #8f9398;
@greyDark: #73777e;
@greyDarker: #575c64;
@greyDarkest: #3b414a;

@tealDark: #4d656f;
@tealLight: #78acab;

@yellow: #e89b3b;
@red: #cb191d;


@sliderColor: #4e7ca0;
@featuresColor: @red;
@descriptionColor: #fff;
@howitworksColor: #efefef;
@adtypesColor: #6cb1d2;
@footerColor: darken(#4b7ba3, 10%);
@faqColor: #efefef;


@textShadow: 2px 2px 0px rgba(0,0,0,.2);
@textShadowSubtle: 1px 1px 0px rgba(0,0,0,.15);

body {
}

section {
  padding: 60px 0;
}

.topbar {
  padding: 0;
}

.cta {
  padding-top: 20px;
  .btn {
    width: 180px;
  }
}

.navbar {
  width: 960;
  margin: 0 auto;
  .navbar-inner {
    background: rgba(255, 255, 255, .9);
  }
  .container {
    padding: 10px 0;
  }
  .logo {
    .hide-text;
    margin: 0;
    padding: 0;
    float: left;
    width: 237px;
    height: 60px;
    background: transparent url(../img/logo.png) no-repeat 0 0;
  }
  .controls {
    margin-top: 22px;
    .btn {
      margin-top: -6px;
    }
  }
  .byline {
    text-transform: uppercase;
    color: darken(#4b7ba3, 10%);
    letter-spacing: 1px;
    display: inline-block;
    margin-right: 20px;
    font-size: 16px;
  }
  .signin {
  }
}

.slider {
  padding: 0;
  margin-top: 80px;
  background-color: #4e7ca0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#4e7ca0), to(#6cb2d3));
  background-image: -webkit-linear-gradient(top, #4e7ca0, #6cb2d3);
  background-image: -moz-linear-gradient(top, #4e7ca0, #6cb2d3);
  background-image: -o-linear-gradient(top, #4e7ca0, #6cb2d3);
  background-image: -ms-linear-gradient(top, #4e7ca0, #6cb2d3);
  background-image: linear-gradient(top, #4e7ca0, #6cb2d3);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#4e7ca0', EndColorStr='#6cb2d3');
  text-align: center;
  .slider-inner {
    padding: 70px 0 290px 0;
    background: transparent url(../img/SCREEN_minimob_2.png) no-repeat center bottom;
  }
  h2 {
    text-transform: uppercase;
    font-size: 56px;
    color: #fff;
    font-weight: normal;
    text-shadow: 4px 4px 0 #43739b;
    margin-bottom: 2px;
  }
  .lead {
    font-size: 24px;
    color: @blueDark;
    margin: 10px 0 10px 0;
  }
  .message {
    font-size: 24px;
    color: @blueLighter;
    text-shadow: 2px 2px 0 #43739b;
    font-family: @headingsFontFamily;
  }
}

.features {
  background: @featuresColor;
  color: @white;
  padding: 30px 0;
  //.box-shadow(inset 0px 5px 10px rgba(0,0,0,.5));
  .feature {
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
    font-family: @headingsFontFamily;
    text-shadow: @textShadow;
    p { margin: 0; }
  }
}

.description {
  h2 {
    text-align: center;
    font-size: 36px;
    text-shadow: @textShadow;
    font-family: @baseFontFamily;
    //font-weight: @baseFontWeight;
  }
  background: @descriptionColor;
  //.box-shadow(inset 0px 5px 10px rgba(0,0,0,.3));
  .lead {
    color: @blueLight;
    font-size: 20px;
    text-transform: uppercase;
  }
  p {
    color: @blue;
    text-align: center;
    font-size: 22px;
    line-height: 1.2;
  }
  padding-bottom: 160px;
}

.platforms {
  width: 394px;
  height: 130px;
  background: transparent url(../img/platforms.png) no-repeat 50% 50%;
  margin: 0 auto;
  position: relative;
  top: -90px;
}

.howitworks {
  padding-top: 20px;
  background: @howitworksColor url(../img/howitworks-line.png) no-repeat 50% 380px;
  text-align: center;
  //.box-shadow(inset 0px 5px 10px rgba(0,0,0,.5));
  h2 {
    text-shadow: @textShadow;
    font-size: 48px;
    text-transform: uppercase;
  }
  h3 {
    margin-bottom: 0;
    text-shadow: @textShadowSubtle;
  }
  p {
    font-size: 20px;
    line-height: 1.4;
    color: @blue;
    text-shadow: @textShadowSubtle;
  }
}

.adtypes {
  background: @adtypesColor;
  background-color: #6cb1d2;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#6cb1d2), to(#9ccae3));
  background-image: -webkit-linear-gradient(top, #6cb1d2, #9ccae3);
  background-image: -moz-linear-gradient(top, #6cb1d2, #9ccae3);
  background-image: -o-linear-gradient(top, #6cb1d2, #9ccae3);
  background-image: -ms-linear-gradient(top, #6cb1d2, #9ccae3);
  background-image: linear-gradient(top, #6cb1d2, #9ccae3);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#6cb1d2', EndColorStr='#9ccae3');
  text-align: center;
  //.box-shadow(inset 0px 5px 10px rgba(0,0,0,.5));
  img {
    width: 471px;
    height: 259px;
  }
  h2 {
    font-size: 48px;
    color: @white;
    text-shadow: @textShadow;
    text-transform: uppercase;
  }
  h3 {
    margin-top: 40px;
    font-size: 32px;
    margin-bottom: 0;
    color: @white;
    text-shadow: @textShadow;
  }
  p {
    font-size: 20px;
    line-height: 1.4;
    color: @grayDark;
    text-shadow: @textShadowSubtle;
    &.lead {
      font-size: 20px;
      color: @blue;
      text-shadow: @textShadowSubtle;
      margin-bottom: 4px;
      font-family: @headingsFontFamily;
      font-weight: @headingsFontWeight;
    }
  }
  .icon {
    text-align: right;
  }
  .push {
    text-align: left;
  }
  .cta .btn {
    width: 220px;
  }
}

.text {
  padding: 120px 0;
  background: @faqColor;
  h1 {
    color: @blue;
    margin-bottom: 20px;
    text-shadow: @textShadow;
    small {
      text-shadow: none;
      font-family: @baseFontFamily;
      font-size: 14px;
    }
  }
  h2 {
    color: @blueLight;
    font-size: 24px;
    margin: 30px 0 0 0;
  }
  h3 {
    color: @blueLight;
    font-size: 20px;
    margin: 0;
    font-family: @baseFontFamily;
  }
  p, li {
    font-size: 18px;
    line-height: 1.2;
  }
  li {
    margin-bottom: .2em;
  }
  strong {
    font-family: @headingsFontFamily;
    color: @greyDark;
  }
  a {
    color: @greyDark;
    text-decoration: underline;
  }
  .btn {
    color: @white;
    text-decoration: none;
  }
}

footer {
  color: @white;
  font-size: 16px;
  a {
    color: @grayLightest;
    &:hover {
      color: @grayLighter;
    }
  }
  padding: 40px 0 80px;
  background: @footerColor;
  ul {
    text-align: center;
    list-style: none;
    margin: 0;
    li {
      padding: 0;
      display: inline;
      border-right: 1px solid #ccc;
      margin-right: 10px;
      padding-right: 10px;
      &.last {
        margin: 0;
        padding: 0;
        border: none;
      }
    }
  }
  .top {
    text-align: right;
  }
}


section .syntaxhighlighter {
  .border-radius(5px);
  padding: 10px;
  border: 1px solid @blueLight;
  font-size: 1em !important;
}



