/*-----------------------------------------------------------------------------

REVOLUTION RESPONSIVE BASIC STYLES OF HTML DOCUMENT

Screen Stylesheet

version:   	1.0
date:      	26/06/12
author:		themepunch
email:     	support@themepunch.com
website:   	http://www.themepunch.com
-----------------------------------------------------------------------------*/


/**********************
	-	RESET	-
************************/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent;
}


/***********************
	-	BASICS 	-
***********************/
html {
	overflow-x:hidden;
	padding: 0 !important;
	/*background-image:url(../images/tiles/bgtile.html);*/
	margin:0px !important;
}




  /*********************************************************************************************
		-	SET THE SCREEN SIZES FOR THE BANNER IF YOU WISH TO MAKE THE BANNER RESOPONSIVE 	-
  **********************************************************************************************/

  /*	-	THE BANNER CONTAINER (Padding, Shadow, Border etc. )	-	*/

   section#mainbann {
    -webkit-transition:all 1s ease-in-out;
    -moz-transition:all 1s ease-in-out;
    -o-transition:all 1s ease-in-out;
    transition:all 1s ease-in-out;
   }

  .bannercontainer {

		background-color:none;
		width:940px;
		height:100%;

	}

  .banner{
		width:940px;
		height:100%;
		position:relative;
   }

   .slides{height:100%;display: none;}

   .slides li{
   		height:375px;
   		width:940px;
   		list-style: none;
   }

   .flex-direction-nav li a{position:absolute;display: block;bottom:151px;width:48px;height:72px;text-indent:-9999px;
    -webkit-transition:all 0.3s ease-in-out;
    -moz-transition:all 0.3s ease-in-out;
    -o-transition:all 0.3s ease-in-out;
    transition:all 0.3s ease-in-out;}
   .flex-direction-nav li a.flex-prev{left:-53px;background-image:url(../images/icons/Generic_back.png);display: none;}
   .flex-direction-nav li a.flex-next{right:-53px;background-image:url(../images/icons/Generic_next.png);}

   .flex-direction-nav li a.flex-prev:hover{background-image:url(../images/icons/Generic_back-OnHover.png);}
   .flex-direction-nav li a.flex-next:hover{background-image:url(../images/icons/Generic_next-OnHover.png);}

   .slides li.blue {background-image: url(../images/slides/Blue-whiteGlow.png);}
   .slides li.red {background-image: url(../images/slides/Red-whiteGlow.png); overflow: hidden;}
   .slides li.grey {background-image: url(../images/slides/Grey-whiteGlow.png);}
   .slides li.green {background-image: url(../images/slides/Green-whiteGlow.png);}

   .slides li .hideToAnimate{visibility:hidden;
    /*-webkit-transition:all 1s ease-in-out;
    -moz-transition:all 1s ease-in-out;
    -o-transition:all 1s ease-in-out;
    transition:all 1s ease-in-out;*/}
   .slides li .hideToAnimate.animated{visibility:visible;}

   .slides li.blue img {width:600px;height: 275px;left:0;top:26px;position:absolute;
   	-webkit-animation-delay: .5s;
	-moz-animation-delay: .5s;
   	-o-animation-delay: .5s;
   	animation-delay: .5s;
   -webkit-animation-duration: .5s;
	   -moz-animation-duration: .5s;
	     -o-animation-duration: .5s;
	        animation-duration: .5s;}
   .slides li.blue .hellohead{width:371px;height:445px;background-image:url(../images/slides/Blue-minimob.png);position:absolute;bottom:-233px;left:0;right:0;margin:0 auto;z-index:1;
	-webkit-animation-iteration-count: 1,infinite;
	-moz-animation-iteration-count: 1,infinite;
	-o-animation-iteration-count: 1,infinite;
	animation-iteration-count: 1,infinite;
	-webkit-animation-duration: 1s,4s;
	   -moz-animation-duration: 1s,4s;
	     -o-animation-duration: 1s,4s;
	        animation-duration: 1s,4s;}
   .slides li.blue .bluetext{width:94px;height:50px;position:absolute;background-image:url(../images/slides/Blue-textNext.png);right:10px;top:0;bottom:0;margin:auto 0;
   	-webkit-animation-delay: 1s;
	  -moz-animation-delay: 1s;
   	-o-animation-delay: 1s;
   	animation-delay: 1s;}

   .slides li.red img {width:634px;height: 322px; margin: 42px auto;
    -webkit-animation-delay: .2s;
    -moz-animation-delay: .2s;
    -o-animation-delay: .2s;
    animation-delay: .2s;}
   .slides li.red .rockHand{background-image:url(../images/slides/Red-rockHand.png);width:102px; height: 287px;position: absolute;bottom: -63px; right: 201px;
    -webkit-animation-delay: 1.2s;
    -moz-animation-delay: 1.2s;
    -o-animation-delay: 1.2s;
    animation-delay: 1.2s;
    -webkit-animation-duration: .5s;
     -moz-animation-duration: .5s;
       -o-animation-duration: .5s;
          animation-duration: .5s;}
    .slides li.red .rockHand.swing{
      -webkit-animation-iteration-count: infinite;
      -moz-animation-iteration-count: infinite;
      -o-animation-iteration-count: infinite;
      animation-iteration-count: infinite;
      -webkit-animation-duration: 3s;
     -moz-animation-duration: 3s;
       -o-animation-duration: 3s;
          animation-duration: 3s;}
   .slides li.red .lighterHand{background-image:url(../images/slides/Red-lighterHand.png);width:226px; height: 189px;position: absolute;bottom: -51px; right: 16px;
    -webkit-animation-delay: 1.3s;
    -moz-animation-delay: 1.3s;
    -o-animation-delay: 1.3s;
    animation-delay: 1.3s;
    -webkit-animation-duration: .7s;
     -moz-animation-duration: .7s;
       -o-animation-duration: .7s;
          animation-duration: .7s;}
    .slides li.red .lighterHand.swingAlt{
      -webkit-animation-iteration-count: infinite;
      -moz-animation-iteration-count: infinite;
      -o-animation-iteration-count: infinite;
      animation-iteration-count: infinite;
      -webkit-animation-duration: 3s;
     -moz-animation-duration: 3s;
       -o-animation-duration: 3s;
          animation-duration: 3s;}
   .slides li.red .redtext{width:93px;height:45px;position:absolute;background-image:url(../images/slides/Red-textNext.png);right:10px;top:0;bottom:0;margin:auto 0;
    -webkit-animation-delay: 2.2s;
    -moz-animation-delay: 2.2s;
    -o-animation-delay: 2.2s;
    animation-delay: 2.2s;}
   .slides li.red .redtextback{width:55px;height:44px;position:absolute;background-image:url(../images/slides/Red-textBack.png);left:10px;top:0;bottom:0;margin:auto 0;
    -webkit-animation-delay: 2s;
    -moz-animation-delay: 2s;
    -o-animation-delay: 2s;
    animation-delay: 2s;}

   .slides li.grey img {width:634px;height: 322px; margin: 42px auto;
    -webkit-animation-delay: .2s;
    -moz-animation-delay: .2s;
    -o-animation-delay: .2s;
    animation-delay: .2s;}
   .slides li.grey .greyDollar {background-image: url(../images/slides/Grey-dollar.png); width: 492px; height: 601px;position: absolute;right: 34px; top: -27px;
    -webkit-animation-iteration-count: 1, infinite;
    -moz-animation-iteration-count: 1, infinite;
    -o-animation-iteration-count: 1, infinite;
    animation-iteration-count: 1, infinite;
    -webkit-animation-duration: 1s,4s;
    -moz-animation-duration: 1s,4s;
    -o-animation-duration: 1s,4s;
    animation-duration: 1s,4s;
    -webkit-animation-delay: .7s, 1.7s;
    -moz-animation-delay: .7s, 1.7s;
    -o-animation-delay: .7s, 1.7s;
    animation-delay: .7s, 1.7s;}
    .slides li.grey .greyDollar.wave {
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-duration: 4s;
     -moz-animation-duration: 4s;
       -o-animation-duration: 4s;
          animation-duration: 4s;}
   .slides li.grey .greytext{width:93px;height:67px;position:absolute;background-image:url(../images/slides/Grey-textNext.png);right:10px;top:0;bottom:0;margin:auto 0;
   -webkit-animation-delay: 1.8s;
    -moz-animation-delay: 1.8s;
    -o-animation-delay: 1.8s;
    animation-delay: 1.8s;}
   .slides li.grey .greytextback{width:94px;height:50px;position:absolute;background-image:url(../images/slides/Grey-textBack.png);left:10px;top:0;bottom:0;margin:auto 0;
   -webkit-animation-delay: 1.5s;
    -moz-animation-delay: 1.5s;
    -o-animation-delay: 1.5s;
    animation-delay: 1.5s;}


   .slides li.green img {width:634px;height: 322px; margin: 42px auto;
    -webkit-animation-delay: .2s;
    -moz-animation-delay: .2s;
    -o-animation-delay: .2s;
    animation-delay: .2s;}

   .slides li.green .hallo { background-image: url(../images/slides/Green-minimob-hallo.png); bottom: -195px;height: 345px;left: 289px;position: absolute;width: 284px;z-index: 10;
    -webkit-animation-delay: 1.5s;
    -moz-animation-delay: 1.5s;
    -o-animation-delay: 1.5s;
    animation-delay: 1.5s;
    -webkit-animation-duration: 0.3s;
    -moz-animation-duration: .3s;
    -o-animation-duration: .3s;
    animation-duration: .3s;}
   .slides li.green .aloha {background-image: url(../images/slides/Green-minimob-alloha.png); width: 214px; height: 193px; position: absolute; bottom: -144px;right: 147px;z-index: 10;
    -webkit-animation-delay: 1.7s;
    -moz-animation-delay: 1.7s;
    -o-animation-delay: 1.7s;
    animation-delay: 1.7s;
    -webkit-animation-duration: 0.3s;
    -moz-animation-duration: .3s;
    -o-animation-duration: .3s;
    animation-duration: .3s;}
   .slides li.green .hola {background-image: url(../images/slides/Green-minimob-hola.png); width: 179px; height: 222px; position: absolute; bottom: -133px;left: 194px; z-index: 10;
    -webkit-animation-delay: 2s;
    -moz-animation-delay: 2s;
    -o-animation-delay: 2s;
    animation-delay: 2s;
    -webkit-animation-duration: 0.3s;
    -moz-animation-duration: .3s;
    -o-animation-duration: .3s;
    animation-duration: .3s;}
   .slides li.green .russian {background-image: url(../images/slides/Green-minimob-russian.png); width: 158px; height: 166px; position: absolute; bottom:-91px; right: 288px; z-index: 10;
    -webkit-animation-delay: 2.2s;
    -moz-animation-delay: 2.2s;
    -o-animation-delay: 2.2s;
    animation-delay: 2.2s;
    -webkit-animation-duration: 0.3s;
    -moz-animation-duration: .3s;
    -o-animation-duration: .3s;
    animation-duration: .3s;}
   .slides li.green .earth {background-image: url(../images/slides/Green-earth.png); width: 502px; height: 151px; position: absolute; bottom: -165px; right: 0px; left: 0; margin: 0 auto;
   -webkit-animation-delay: .8s;
    -moz-animation-delay: .8s;
    -o-animation-delay: .8s;
    animation-delay: .8s;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;}

   .slides li.green .greentext{width:54px;height:44px;position:absolute;background-image:url(../images/slides/Green-textNext.png);right:10px;top:0;bottom:0;margin:auto 0;
   -webkit-animation-delay: 2s;
    -moz-animation-delay: 2s;
    -o-animation-delay: 2s;
    animation-delay: 2s;}
   .slides li.green .greentextback{/*width:94px;height:50px;*/width:93px;height:45px;position:absolute;background-image:url(../images/slides/Green-textBack.png);left:10px;top:0;bottom:0;margin:auto 0;
   -webkit-animation-delay: 1.7s;
    -moz-animation-delay: 1.7s;
    -o-animation-delay: 1.7s;
    animation-delay: 1.7s;}


  .bannercontainer2 {
		padding:0px;
		background-color:#3e5da2;
		width:400px;
		position:relative;
		position:relative;
		margin-left:auto;
		margin-right:auto;

	}

  .banner2{
		width:400px;
		height:300px;
		position:relative;
		overflow:hidden;
   }



   .tp-leftarrow.large {

    margin-left: -56px!important;
	height: 72px!important;

}

.tp-rightarrow.large {

    margin-left: 56px!important;
	height: 72px!important;

}

.tparrows {position:relative; top:160px!important;}


.spinner {
   height:60px;
   width:60px;
   margin:0 auto;
   top:150px;
   position:relative;
   -webkit-animation: rotation .75s infinite linear;
   -moz-animation: rotation .75s infinite linear;
   -o-animation: rotation .75s infinite linear;
   animation: rotation .75s infinite linear;
   border:6px solid rgba(0,174,239,.15);
   border-radius:100%;
}

.spinner:before {
   content:"";
   display:block;
   position:absolute;
   left:-6px;
   top:-6px;
   height:100%;
   width:100%;
   border-top:6px solid rgba(0,174,239,.8);
   border-left:6px solid transparent;
   border-bottom:6px solid transparent;
   border-right:6px solid transparent;
   border-radius:100%;
}

@-webkit-keyframes rotation {
   from {-webkit-transform: rotate(0deg);}
   to {-webkit-transform: rotate(359deg);}
}
@-moz-keyframes rotation {
   from {-moz-transform: rotate(0deg);}
   to {-moz-transform: rotate(359deg);}
}
@-o-keyframes rotation {
   from {-o-transform: rotate(0deg);}
   to {-o-transform: rotate(359deg);}
}
@keyframes rotation {
   from {transform: rotate(0deg);}
   to {transform: rotate(359deg);}
