/*!
 * LEGEND - Free Responsive One Page Template
 *
 * Copyright 2013
 * Created by: Inbetwin Network
 * URL: http://inbetw.in
 * Designed and built based on Twitter Bootstrap. */

/*
===========================
CONTENTS:

01 Sensible defaults
02 Typography
03 Non-semantic
04 Navbar
05 Single-Page Sections
06 Footer
07 Bootstrap Carousel
08 Buttons
09 Media queries
===========================
*/

/* ----------------------------------------------------------------------------------------------------------
01 Sensible defaults ----------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------- */

div, article, section, header, footer, nav, li {
	position:relative;
}
.group:after {
	display:block;
	height:0;
	clear:both;
	content:".";
	visibility:hidden; /* For clearing */
}
body {
	background:#f0f0f0;
	color: #312A1E;
	font-size: 100%;
	font-family: 'Roboto', sans-serif;
}

/*---------- FORMS ----------*/

input[type=text], input[type=password], input[type=submit], textarea {
	width: 100%;
	padding: 0.5em;
	font-size: 1em;
	margin-bottom: 1.5em;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
input, button, select, textarea {
	font-family: 'Roboto', sans-serif;
}
/* ----------------------------------------------------------------------------------------------------------
02 Typography -----------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------- */
/*

14 / 16	= 		0.875em 		(14px equivalent)
16 / 16	= 		1em 			(16px equivalent)
18 / 16 = 		1.125em 		(18px equivalent)
21 / 16 = 		1.3125em 		(21px equivalent)
24 / 16 = 		1.5em 			(24px equivalent)
30 / 16 = 		1.875em 		(30px equivalent)

*/

.image-retina {
  display: none;
}
.image-plain {
  display: block;
}

@media
only screen and (-webkit-min-device-pixel-ratio: 1.25),
only screen and ( min--moz-device-pixel-ratio: 1.25),
only screen and ( -o-min-device-pixel-ratio: 1.25/1),
only screen and ( min-device-pixel-ratio: 1.25),
only screen and ( min-resolution: 200dpi),
only screen and ( min-resolution: 1.25dppx)
{
  .image-retina {
    display: block;
  }
  .image-plain {
    display: none;
  }

}



p {
	font-size: 1em; /* 16px */
	line-height: 1.5; /* 24px */
	margin: 0 0 1.5em 0;
}
ul, ol {
	font-size: 1em; /* 16px */
	line-height: 1.5; /* 24px */
	margin: 0 0 1.5em 0;
}
body, input, textarea {
}
a:link, a:visited {
	color: #DDDDE0;
}
a:hover, a:active {
	color: #DDDDE0;
	text-decoration: underline;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: normal; /* reset default browser weight for our webfonts */
	font-family: 'Roboto', sans-serif;
}
h1 {
	font-size: 1.5em; /* 24px */
	line-height: 1; /* 24px */
	margin-top: 1.42em;
	margin-bottom: 0em;
}
h2 {
	font-size: 1.3125em; /* 21px */
	line-height: 1.1429; /* 24px */
	margin-top: 1.1429em;
	margin-bottom: 0em;
}
h3 {
	font-size: 1.125em; /* 18px */
	line-height: 1.3333; /* 24px */
	margin-top: 1.3333em;
	margin-bottom: 0em;
}
h4 {
	font-size: 1em; /* 16px */
	line-height: 1.5; /* 24px */
	margin-top: 1.5em;
	margin-bottom: 0em;
}
h5 {
	font-size: 0.875em; /* 14px */
	line-height: 1.7143; /* 24px */
	margin-top: 1.7143em;
	margin-bottom: 0em;
}
strong {
	font-weight:normal;
	font-family: 'Roboto', sans-serif;
}
small {
	font-size: 0.75em; /* 12px */
	line-height: 2; /* 24px */
	margin-top: 2em;
	margin-bottom: 0em;
}
em {
	font-style: normal;
	font-family: 'Roboto', sans-serif;
}
.muted {
	color: #A5A5A2;
	font-family: 'Roboto', sans-serif;
}
.impressed {
	text-shadow:
 -1px -1px 0 rgba(0, 0, 0, 0.5), /* shadow */  1px 1px 0 rgba(255, 255, 255, 0.9); /* highlight */
}
.more-link {
	font-size: .875em; /* 14px */
	margin-top: 1.5em;
	font-family: 'Roboto', sans-serif;
}
.more-link:link, .more-link:visited {
	color: #f0bf00;
	text-transform: uppercase;
}

#top {margin-top:18px;}
/* ----------------------------------------------------------------------------------------------------------
03 Non-semantic ------------------------------------------------------------
---------------------------------------------------------------------------------------------------------- */
/* New Image Replacement Hack */

.hide-text {
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	font-size: 1em;
}
.alignright {
	text-align: right;
}
.alignleft {
	text-align: left;
}
.aligncenter {
	text-align: center;
}
.medium {
	font-weight: normal;
	font-family: 'Roboto', sans-serif;
}
/* ----------------------------------------------------------------------------------------------------------
04 Navbar ------------------------------------------------------------
---------------------------------------------------------------------------------------------------------- */

.navbar-fixed-top .container {
/* Uncomment to make nav expand full width */
 /*	width: auto; */

}
.navbar {
	-moz-box-shadow: 0px 0px 8px rgba(0,0,0,.5);
	-webkit-box-shadow: 0px 0px 8px rgba(0,0,0,.5);
	box-shadow: 0px 0px 8px rgba(0,0,0,.5);
}

.navbar .brand {
	margin-left:0;
	padding: 0;
	margin-top: 0.5em;
    width:200px;
	height:50px;
}
.navbar .brand a {
	padding: 0;
	color: #fff;
	font-size: 1.75em;
	margin-left: 0;
	font-weight: normal;
	font-family: 'Roboto', sans-serif;
	width:200px;
	height:50px;

}
.navbar .brand a:hover {
	text-decoration: none;
	color:#f0bf00;
 transition: color .15s linear;
 -webkit-transition: color .15s linear;
 -moz-transition: color .15s linear;
}
.navbar .brand a:focus {
	outline: none;
}
.navbar-inner {
	min-height: 4.75em;
}
.navbar-inverse .navbar-inner {
	background-repeat: repeat;
	background-color: #ffffff;
	border-color: #ffffff;
}
.navbar-wrapper {
	overflow:hidden;/* No fixed height, will break collapsible nav */
}
#menu-main {
	margin-top: 1.125em;
}
ul#menu-main > li > a {
	font-family: 'Roboto', sans-serif;
	font-weight: normal;
	font-size: 1em;
	color: #fff;
}
ul#menu-main > li > a:hover {


}
.navbar-inverse .brand, .navbar-inverse .nav > li > a {
	text-shadow: none;
}
/* ----------------------------------------------------------------------------------------------------------
05 Single-Page Sections ------------------------------------------------------------
---------------------------------------------------------------------------------------------------------- */

#headerwrap {
	width: 100%;
	background: url(../img/top-bg.html) #0b333f no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	;
	min-height: 600px;
	margin-top: -60px;
	padding-top:160px;
	text-align:center;
}
#headerwrap h1 {
	color: #FFFFFF;
	font-family: 'Roboto', sans-serif;
	font-size: 4em;
	font-weight: 400;
	margin: 1em 0;
}
#headerwrap h2 {
	color: #FFFFFF;
	font-family: 'Roboto', sans-serif;
	font-size: 2em;
	font-weight: normal;
	margin: 0.5em 0;
	text-shadow: 1px 1px 1px #333333;
}
#headerwrap h1 span {
	color:#f0bf00;
}
#headerwrap input[type=text] {
	background: rgba(227, 231, 228, 1);
	font-family: 'Roboto', sans-serif;
	font-size: 1.3125em;
	border: 0;
	text-align: center;
	vertical-align: middle;
	margin-bottom:0 !important;
}
#headerwrap input[type=text]:focus {
	background: #43413e;
	color: #eff1ef;
	transition: background 0.25 ease-in;
	-moz-transition: background 0.25 ease-in;
	-webkit-transition: background 0.25 ease-in;
}
#headerwrap input[type=text] {
	height: 2.9em;
	width:50%;
}
#headerwrap input[type=submit] {
	font-family: 'Roboto', sans-serif;
	color: #fff;
	width: 185px;
	height: 2.9em;
	font-size: 1.3125em; /* 21px */
	padding:0.5em;
	letter-spacing: 0.05em;
	margin: 0;
	border: 0;
	text-transform: none;
	background: #f0bf00 !important;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}
#headerwrap input[type=submit]:hover, #headerwrap input[type=submit]:active {
	background: #43413e !important;
}


.tp-leftarrow {display:none;}
.tp-rightarrow{display:none;}

/*========== Social Icons ==========*/
ul.icon {
	font-size:54px;
	margin:1em 0 0.5em 0;
}
ul.icon li {
	display:inline-block;
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	transition: all 0.3s linear;
}
ul.icon li:hover {
	opacity:0.7;
}
section.single-page {
	padding: 4.75em 0; /* 76px */
}
section.single-page h1 {
	text-align: center;
	ffont-family: 'Roboto', sans-serif;
	margin-bottom: 2em; /* 72px */
	font-size: 2.25em; /* 36px */
}
section.single-page .container {height:100%;}
#feature {
	background: url("../img/yellow.html") repeat-x 0 0;
	height: 406px;
	z-index: 500;
	box-shadow: 0 5px 16px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0 5px 16px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0 5px 16px rgba(0, 0, 0, 0.3);
}
#feature article {
	text-align: center;
	margin-top: 120px;
	max-width: 1170px;
}
#feature-headline {
	font-family: 'Roboto', sans-serif;
	text-transform: uppercase;
	color: rgba(228, 229, 229, 1);
	margin-bottom: 3%; /* 39px */
	margin-top: -.25em;
	height: 109px;
	background-size: 100% auto;
}
#feature-headline span {
	font-family: 'Roboto', sans-serif;
	text-transform: lowercase;
}
#feature article p {
	font-family: 'Roboto', sans-serif;
	font-size: 40px;
	margin-bottom: 0;
	line-height: 1.35;
	color: #fff;
}

.single-page-element {

}
.single-page-element__heading {
	font-size: 38px;
	color: #444;
	font-weight: 100;
	text-transform: capitalize;
	line-height: 48px;
	text-align: center;
	padding: 100px 0 80px;
}
.single-page-element__list {
	list-style: none;
	margin: 0;
	padding: 0;
}
.single-page-element__list-item {
	margin: 0 0 2% 1%;
	padding: 0;
	width: 48%;
	float: left;
}
.single-page-element__list-item:nth-child(odd) {
	margin: 0 1% 2% 0;
	width: 48%;
}

.single-page-element__list--item__icon {
	float: left;
	border: 2px solid rgba(0,0,0,.1);
	border-radius: 50%;
	width: 56px;
	height: 56px;
	line-height: 51px;
	text-align: center;
}
.single-page-element__list--item__icon img {
	vertical-align: middle;
	display: inline;
}
.single-page-element__list--item__heading {
	color: #ff6625;
	font-size: 22px;
	font-weight: 300;
	line-height: 36px;
	margin: 10px 0 0 72px;

}
.single-page-element__list--item__description {
	color: #888888;
	font-size: 16px;
	font-weight: 300;
	line-height: 24px;
	margin: 10px 0 0 72px;
}





/* Portfolio */

section#portfolio {
	padding-bottom: 130px;
	/*background-color:#ffffff;*/
	margin-top: 176px;
}

section#portfolio	 .toptext {text-align:center; color:#555555;  }
section#portfolio	 .toptext strong {font-size:18px; font-weight:bold; text-transform:uppercase; line-height: 52px;}
section#portfolio	 .toptext p {color: #ACACAC;
    font-size: 26px;
    font-weight: 300;
    line-height: 31px;}

section#portfolio	.middletext {
	text-align:center;
	color: #ffffff;
    font-size: 28px;
    font-weight: 300;
	text-shadow:0px 2px 0px rgba(0,0,0,0.2);
    line-height: 31px;
	}

section#portfolio	.middletext p{width:450px;
	margin:0 auto;}

section#portfolio	.bottomtext{text-align:left; position:relative; right:35px;}

section#portfolio	.bottomtext strong{font-size:18px; font-weight:bold; text-transform:uppercase; line-height: 31px;}

section#portfolio	.bottomtext p{color: #ACACAC;
    font-size: 18px;
    font-weight: 300;
    line-height: 20px;
	text-align:justify;}


#portfolio .container { background: transparent url("../img/bigc.png") no-repeat center center !important; width:940px; height:637px;}


section#mainbann {
padding-bottom: 0;
padding-top: 0;
background-color: #3996C7;
/*background: url("../img/banner_back.png") repeat-x center top  #3996c7;*/
}
section#portfolio h1 {
	font-size: 3em;
	margin-bottom: 1em;
	margin-top: 0.5em;
}
section#portfolio hgroup h2 {
	margin-top: 1em;
	text-transform: capitalize;
}
section#portfolio hgroup h3 {
	margin-top:  .35em;
	font-family: 'Roboto', sans-serif;
}
section#portfolio .entry-content {
	margin: 1em 0 2.5em;
}
section#portfolio .align {
	text-align:center;
	margin-top:10px;
	font-size:6em;
}
/* Portfolio Image Hover */
.mask2 img {
	margin: 0 auto;
	max-width: 100%;
	display: block;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	opacity: 0.8;
	box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.mask2 img:hover {
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=99)";
	filter: alpha(opacity=99);
	opacity: 1;
}
/* Services */

section#services {
	padding-bottom: 0;
	background: url("../img/adtypes_rpt.png") repeat-x 0 0;
	height: 569px;

}

section#services	 .toptext {text-align:left;  }
section#services	 .toptext strong {font-size:38px; color:#ffffff; font-weight:100; text-transform:Capitalize; line-height: 52px;text-shadow:0px 2px 0px rgba(0,0,0,0.2)}
section#services	 .toptext p {color: #7c2020;
    font-size: 18px;
    font-weight: 300;
    line-height: 24px;
	margin:10px 0 0 0px;}


#services h1 {
	font-size: 3em;
	margin-bottom: 1em;
	margin-top: 0.5em;
}
section#services h2 {
	font-size: 22px;
	margin-bottom: 15px;
	margin-top: 10px;
	text-align:center;
}
section#services p {
	margin:10px;
}
section#services .align {
	text-align:center;
	margin-top:10px;
	font-size: 6em;
}
section#services .align .sev_icon {
	text-align:center;
	margin:10px 0 20px 0;
	font-size: 0.6em;
	color:#F0BF00;
}
section#services .span3 {
	background:#e9e9e9;
	padding: 20px 0;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
section#services .span3:hover {
	background:#e3e3e3;
	box-shadow: 1px 1px 6px #C1BAC1;
}
/* Testimonials */

section#testimonials {

	background-color: #efefef;
	padding: 0;
	color: #e4e5e2;
	height:460px;


}

.toolbar{ display:none!important;}

section#testimonials	 .toptext {text-align:left;  }
section#testimonials	 .toptext strong {font-size:16px; color:#000000; font-weight:normal; text-transform:Uppercase; line-height: 15px;}
section#testimonials	 .toptext b {
	font-size:38px;
	color:#444;
	font-weight:100;
	text-transform:Capitalize;
	line-height: 48px;}
section#testimonials	 .toptext p {
	color: #888888;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
	margin:10px 0 0 0px;
}




section#testimonials .blockquote-wrapper {
	display: table-cell;
	vertical-align: middle;
	height:  647px;
}


#textGen { background-color: #EFEFEF; text-align:left;}
#textGen.page-opt-out {
	background-color: #fff;
}
#textGen.page-login-register {
	background-color: #fff;
}

section#textGen h1 {
	text-align:left;
	font-weight: 200; /* reset default browser weight for our webfonts */
	font-family: 'Roboto', sans-serif;
	text-shadow: rgba(2,2,3,0.34) 1px 2px 1px;
}

section#textGen h2 { font-size:20px; text-align:left; font-weight: 300; margin:20px 0 10px 0; /* reset default browser weight for our webfonts */
	font-family: 'Roboto', sans-serif; }

section#textGen small { font-size: 12px;}

section#textGen a { color:#0073BC;}

section#textGen ul { color: #888888; margin: 10px 0; padding:10px 30px; font-weight: 300;}

section#textGen li{  margin: 10px 0;}

section#textGen strong { font-weight: bold; }
section#textGen b {font-size:38px; color:#000000; font-weight:100; text-transform:Capitalize; line-height: 52px;}
section#textGen p {color: #888888;
    font-size: 16px;
    font-weight: 300;
    line-height: 20px;
	margin:10px 0px;}



blockquote.mega {
}
blockquote.mega p {
	font-size: 45px;
	line-height: 50px;
	text-align: left;
	font-family: 'Roboto', sans-serif;
	font-weight:bold;
	color:#312A1E;
}
blockquote.mega .cite {
	font-size: 22px;
	text-align: left;
	font-weight:300;
}
/* News */
section#news {
	background-color: #0094e3;
	height:419px;
}

section#news	 .toptext {text-align:left;  }
section#news	 .toptext strong {font-size:16px; color:#ffffff; font-weight:normal; text-transform:Uppercase; line-height: 40px;}
section#news	 .toptext b {
	font-size:38px;
	color:#ffffff;
	font-weight:100;
	text-transform:Capitalize;
	line-height: 48px;
}
section#news	 .toptext p {
	color: #ffffff;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
	margin:10px 0 0 0;
}



section#news .align {
	font-size: 6em;
	text-align: center;
}
article.post {
	background: none repeat scroll 0 0 rgba(255, 255, 255, 0.7);
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
}
article .inside {
	margin: 18px 24px 24px;
	padding-top: 1em;
	background: url("../img/dot-row-2.html") repeat-x scroll 0 0 transparent !important;
}
.post-date {
	color: #A5A5A2;
	float: right;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-style: normal;
	line-height: 2;
	margin-right: 5px;
}
#news h1 {
	font-size: 3em;
	margin-bottom: 1em;
	margin-top: 0.5em;
}
#news h2 {
	font-size: 21px;
	margin-top: 24px;
	margin-bottom: 16px;
	color: #312A1E;
	clear: right;
}
/* Team and Contact */

section#team {
	color: #ffffff;
	background:#59636e;
	height:565px;
}


section#team	 .toptext {text-align:left;  }
section#team	 .toptext strong {font-size:16px; color:#ffffff; font-weight:normal; text-transform:Uppercase; line-height: 40px;}
section#team	 .toptext b {
	font-size:38px;
	color:#ffffff;
	font-weight:100;
	text-transform:Capitalize;
	line-height: 48px;
}
section#team	 .toptext p {
	color: #ffffff;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
	margin:10px 0 0 0;
}

section#contact {
	color: #ffffff;
	background:#2e3032;

}

section#contact	 .toptext {bottom: 325px;
    color: #FFFFFF;
    position: relative;
    text-align: center;  }
section#contact	 .toptext strong {font-size:36px; font-weight:100;  line-height: 52px;}
section#contact	 .toptext p {color: #ACACAC;
    font-size: 26px;
    font-weight: 300;
    line-height: 31px;
	margin:2px 0;}

section#team .align, section#contact .align {
	font-size: 6em;
	text-align: center;
}
#team h1, #contact h1 {
	font-size: 3em;
	margin-bottom: 1em;
	margin-top: 0.5em;
}
#contact, #team, #news, #testimonials, #services, #portfolio{
	padding-top: 0;
}
#team, #news {
	padding-bottom: 0;
}
#contact {
	padding-bottom: 0;
}
/* team */

#team h3 {
	font-size: 26px;
	margin-top: 24px;
	margin-bottom: 0px;
}
#team h3, .job-position {
	text-align: center;
}
#team .featurette {
	text-align: center;
	font-size: 21px;
}
#team h2.featurette-heading {
	margin-bottom: 24px;
}
.teamalign {
	text-align:center
}
.team-thumb {
	margin-top: 26px;
	text-align:center;
}
.job-position {
	font-family: 'Roboto', sans-serif;
	margin-bottom: .46155em;
}
/* Contact Form */

#theme-form {
	position: relative;
	z-index: 999;
}
#theme-form input[type=text], .cform-form textarea {
	background: rgba(227, 231, 228, 1);
	font-family: 'Roboto', sans-serif;
	border: 0;
	text-align: left;
	vertical-align: middle;
}
#theme-form input[type=text]:focus, .cform-form textarea:focus {
	background: rgba(101, 106, 100, 1);
	color: #eff1ef;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	transition: background 0.25 ease-in;
	-moz-transition: background 0.25 ease-in;
	-webkit-transition: background 0.25 ease-in;
}
#theme-form input[type=text] {
	height: 3.25em;
}
#theme-form input[type=submit] {
	font-family: 'Roboto', sans-serif;
	color: #fff;
	width: 185px;
	height: 60px;
	text-shadow: none;
	font-size: 1.3125em; /* 21px */
	padding:0.5em;
	letter-spacing: 0.05em;
	margin: 0 0 20px 0;
	display: block;
	border: 0;
	text-transform: none;
	background: #f0bf00 !important;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
}
#theme-form input[type=submit]:hover, #theme-form input[type=submit]:active {
	background: #43413e !important;
}
#theme-form textarea {
	padding-top: 1em;
}
div.cform-response-output {
	max-width: 60%;
	text-align: center;
	margin-left: 40% !important;
	margin-top: 0.5em !important;
	padding: 0.5em !important;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}
.cform-not-valid-tip {
	color: #888;
	border: 1px dotted #ad3729 !important;
	width: 100% !important;
	left: 0 !important;
	padding: 0.5em !important;
	font-family: 'Open Sans', sans-serif;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}
/* Featurettes */



hr.featurette-divider {
	margin: 3em 0;
	border-width: 0;
	height: 9px;
	background-color:#ffffff;

}
/* ----------------------------------------------------------------------------------------------------------
06 Footer ------------------------------------------------------------
---------------------------------------------------------------------------------------------------------- */

#map-wrapper {
	margin-top: 20px;
}

.footer-wrapper {background-color: #2e3032;}


footer {
  color: #6D6F70;
  font-size: 16px;
  padding: 40px 0 80px;
  font-weight:400;

}
footer a {
  color: #6D6F70;
}
footer a:hover {
  color: #c7c9cb;
}
footer ul {
  text-align: center;
  list-style: none;
  margin: 0;
}
footer ul li {
  padding: 0;
  display: inline;
  border-right: 1px solid #ccc;
  margin-right: 10px;
  padding-right: 10px;
}
footer ul li.last {
  margin: 0;
  padding: 0;
  border: none;
}
footer .top {
  text-align: right; }


/*footer p {
	margin-top: -130px;
}*/


.slider-horizontal {
	margin: 25px auto;
	background: none;
	height: 240px;
}
.slider-horizontal .item {
	height: 120px;
	width: 123px;
	margin: 0 4px 4px 0;
	cursor: pointer;
	float: left;
	padding: 0 6px 0 6px;
	background-repeat: no-repeat;
	background-position: center bottom;
	background-color: transparent:
}
/*
.item {
	border-right: 1px solid #ff7e7e;
}
.item:nth-child(4), .item:nth-child(8) {
	border-right: none;
}
.item:nth-child(1), .item:nth-child(2), .item:nth-child(3), .item:nth-child(4) {
	border-bottom: 1px solid #ff7e7e;
}
*/
.slider-horizontal .item-1 {background-image: url("../img/item1.png");}
.slider-horizontal .item-2 {background-image: url("../img/item2.png");}
.slider-horizontal .item-3 {background-image: url("../img/item3.png");}
.slider-horizontal .item-4 {background-image: url("../img/item4.png");}
.slider-horizontal .item-5 {background-image: url("../img/item5.png");}
.slider-horizontal .item-6 {background-image: url("../img/item6.png");}
.slider-horizontal .item-7 {background-image: url("../img/item7.png");}
.slider-horizontal .item-8 {background-image: url("../img/item8.png");}

.slider-horizontal .item:hover {
	background-color: rgba(0,0,0,.3);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.slider-horizontal .item:active {
	background-position: center top;
	background-color: rgba(0,0,0,.4);
	position: relative;
	top: 2px;
}

.item.active {
	background-position: center top;
	background-color: rgba(0,0,0,.3);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.item.active:hover {
	opacity: 1;
}
.overlayImg  { height:0px; }
.overlayImg .ad1 {position:relative; top:103px; left:75px; background: url("../img/img01.jpg") no-repeat center top; width:217px; height:368px; z-index:1000; }
.overlayImg .ad2 {position:relative; top:103px; left:75px; background: url("../img/img02.jpg") no-repeat center top; width:217px; height:368px; z-index:1000; display:none; }
.overlayImg .ad3 {position:relative; top:103px; left:75px; background: url("../img/img03.jpg") no-repeat center top; width:217px; height:368px; z-index:1000; display:none; }
.overlayImg .ad4 {position:relative; top:103px; left:75px; background: url("../img/img04.jpg") no-repeat center top; width:217px; height:368px; z-index:1000; display:none; }
.overlayImg .ad5 {position:relative; top:103px; left:75px; background: url("../img/img05.jpg") no-repeat center top; width:217px; height:368px; z-index:1000; display:none; }
.overlayImg .ad6 {position:relative; top:103px; left:75px; background: url("../img/img06.jpg") no-repeat center top; width:217px; height:368px; z-index:1000; display:none; }
.overlayImg .ad7 {position:relative; top:103px; left:75px; background: url("../img/img07.jpg") no-repeat center top; width:217px; height:368px; z-index:1000; display:none; }
.overlayImg .ad8 {position:relative; top:103px; left:75px; background: url("../img/img08.jpg") no-repeat center top; width:217px; height:368px; z-index:1000; display:none; }


.wrap {width:100%; margin:50px 0;}

.text {width:600px; float:left;}
.ad {padding:20px; border:1px solid #ddd; background:#f4f4f4;}
.ad-2 {width:230px; float:right; border:1px solid #ddd; background:#f4f4f4; margin:10px 0 20px 0; padding:10px;}
.ad-3 {float:left; width:336px; margin:25px 0 0 25px;}






/* ----------------------------------------------------------------------------------------------------------
07 Bootstrap Carousel ------------------------------------------------------------
---------------------------------------------------------------------------------------------------------- */

    .carousel-caption {
	background-color: transparent;
	position: static;
	max-width: 550px;
	padding: 0 20px;
	margin-top: 200px;
	position:absolute;
}
.carousel-caption h1,  .carousel-caption .lead {
	margin: 0;
	line-height: 1.25;
	color: #fff;
	text-shadow: 0 1px 1px rgba(0, 0, 0, .4);
}
.carousel-caption .btn {
	margin-top: 10px;
}
.carousel-control {
	height: 50px;
	top: 46%;
	margin-top: 0;
	font-size: 6.5em;
	text-shadow: 0 1px 1px rgba(0, 0, 0, .4);
	background-color: transparent;
	border: 0;
	font-family: 'Roboto', sans-serif;
	opacity: 0.4;
	border-radius: 0;
}
.carousel-control:link, .carousel-control:visited {
	color: #262626;
}
/* Banner Carousel  */
    #banner.carousel {
	margin-top: 4.75em;
	margin-bottom: 0;
	margin-top: 0;
	max-height: 642px;
}
.banner-caption {
	/*	width: 18%; */
    	position: absolute;
	left: 20%;
	top: 10%;
	color: #007ac3;
}
#intro-caption {
	margin-top:150px;
	font-family: 'Roboto', sans-serif;
	text-align: center;
	font-size: 80px;
	line-height: 90px;
	color:#fff;
	font-weight:bold;
	text-shadow: 2px 2px 2px #000;
}
#intro-caption span {
	font-family: 'Roboto', sans-serif;
	font-size: 0.65em;
}
#banner.carousel .item {
}
#banner.carousel img {
}
#banner.carousel .carousel-control {
}
/* ----------------------------------------------------------------------------------------------------------
08 Buttons ------------------------------------------------------------
---------------------------------------------------------------------------------------------------------- */
.btn:not(.btn-social):not(.btn-login):not(.btn-register) {
	font-family: 'Roboto', sans-serif;
	color: #fff;
	width: 185px;
	height: 20px;
	text-shadow: none;
	font-size: 1.3125em; /* 21px */
	padding: 1em 0.5em;
	letter-spacing: 0.05em;
	margin: 4.5em auto 0;
	display: block;
	border: 0;
	text-transform: none;
	background: #f0bf00 !important;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
}
.btn:link, .btn:visited {
	color: #fff;
}
.btn:hover {
	background: #312A1E;
}
.navbar-inverse .btn-navbar {
	width: auto;
	height: auto;
}

/* code highlighter */
.syntaxhighlighter {
  padding: 20px 20px 20px 6px;
  /*border: 1px solid #ccc;*/
	-moz-box-shadow: 0px 0px 4px rgba(0,0,0,.2);
	-webkit-box-shadow: 0px 0px 4px rgba(0,0,0,.2);
	box-shadow: 0px 0px 4px rgba(0,0,0,.2);

}


.page-integration-guide h1 {
  color: #000;
}

.page-integration-guide {
  color: #919191;
  font-weight: 300;
}

.page-faq {
  font-weight: 300;
}

.page-opt-out {
  background: transparent url(../img/page-header-bg-blue.png) repeat-x 0 -77px;
}

.page-opt-out .content-container {
  background: #f2f2f2;
  padding: 80px 100px;
  position: relative;
}
.page-opt-out h1 {
  color: #fff;
  padding-left: 205px;
  margin-bottom: 40px !important;
}
.page-opt-out .icon-robot {
  display: block;
  position: absolute;
  left: -30px;
  top: -130px;
  width: 253px;
  height: 187px;
  background: transparent url(../img/icon-robot.png) no-repeat 50% 50%;
}


.page-opt-out .control-group {
  margin-bottom: 30px;
  clear: both;
  position: relative;
}
.page-opt-out label {
  float: left;
  line-height: 42px;
  width: 80px;
  text-align: right;
  margin-right: 30px;
  color: #404040;
  font-weight: bold;
  font-size: 12px;
}
.page-opt-out  input.input-text {
  float: left;
  width: 630px;
  height: 43px;
  line-height: 42px;
  background: #fff;
  border: none;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}
.page-opt-out .input-checktext {
  position: absolute;
  right: 4px;
  top: 5px;
  width: 87px;
  height: 34px;
  display: block;
  background: #f2f2f2;
  line-height: 34px;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
}
.page-opt-out .submit-button {
  float: right;
  background: #54e7eb url(../img/btn-submit.png) no-repeat 50% 50%;
  color: #fff;
  width: 208px;
  height: 41px;
  text-indent: -9999px;
  border: none;
}























.page-login-register {
  background: transparent url(../img/page-header-bg-blue.png) repeat-x 0 -110px;
  height: 500px;
}

.page-login-register .content-container {
  background: #0069a6;
  padding: 35px 50px;
  position: relative;
  color: #fff;
  width: 440px;
  height: 150px;
  top: 140px;
  margin: 0 auto;
  background-color: #2EC0FE;
  background-image: -o-linear-gradient(90deg , rgb(0,112,167) 0%, rgb(0,113,168) 100%);
  background-image: -moz-linear-gradient(90deg , rgb(0,112,167) 0%, rgb(0,113,168) 100%);
  background-image: -webkit-linear-gradient(90deg , rgb(0,112,167) 0%, rgb(0,113,168) 100%);
  background-image: -ms-linear-gradient(90deg , rgb(0,112,167) 0%, rgb(0,113,168) 100%);
  background-image: linear-gradient(90deg , rgb(0,112,167) 0%, rgb(0,113,168) 100%);
}
.page-login-register .icon-robot {
  display: block;
  position: absolute;
  top: -195px;
  left: 132px;
  width: 253px;
  height: 187px;
  background: transparent url(../img/icon-robot.png) no-repeat 50% 50%;
}

.page-login-register .login-box {
	text-align: center;
}
.page-login-register .login-box h1 {
	text-transform: uppercase;
	text-align: center !important;
	margin-bottom: 20px;
}
.login-box_callout {
	background: transparent url(../img/login-callout.png) no-repeat 50% 50%;
	width: 43px;
	height: 48px;
	position: absolute;
	top: -82px;
	left: 290px;
}
a.login-box_google-login {
	width: 368px;
	height: 58px;
	background: #e2e7ea url(../img/button-google.png) no-repeat 50% 50%;
	text-indent: -9999px;
	display: inline-block;
	-moz-box-shadow: 0px 2px 3px 2px rgba(0,0,0,.19);
	-webkit-box-shadow: 0px 2px 3px 2px rgba(0,0,0,.19);
	box-shadow: 0px 2px 3px 2px rgba(0,0,0,.19);
}
a.login-box_google-login:hover {
	-moz-box-shadow: 0px 3px 6px 5px rgba(0,0,0,.19);
	-webkit-box-shadow: 0px 3px 6px 5px rgba(0,0,0,.19);
	box-shadow: 0px 3px 6px 5px rgba(0,0,0,.19);
	position: relative;
	top: -1px;
}
a.login-box_google-login:active {
	position: relative;
	top: 2px;
	-moz-box-shadow: 0px 0px 1px 1px rgba(0,0,0,.19);
	-webkit-box-shadow: 0px 0px 1px 1px rgba(0,0,0,.19);
	box-shadow: 0px 0px 1px 1px rgba(0,0,0,.19);
	outline: 0;
}
.login-box_register {
	margin-top: 14px;
	font-size: 14px;
	text-transform: uppercase;
	color: #dcebf9;
	text-align: right;
	margin-right: 40px;
}
a.login-box_register-link {
	color: #dcebf9 !important;
}
a.login-box_register-link:hover {
	color: #fff !important;
	text-decoration: underline !important;
}
a.login-box_register-link:active {
	color: #1eaee9 !important;
}
.login-designdetail {
	background: transparent url(../img/login-designdetail.png) no-repeat 50% 50%;
	width: 106px;
	height: 151px;
	position: absolute;
	left: -84px;
	bottom: -87px;
}
.page-login-register button:not(.btn-social):not(.btn-login):not(.btn-register) {
  float: right;
  background: #54e7eb url(../img/btn-submit.png) no-repeat 50% 50%;
  color: #fff;
  width: 208px;
  height: 41px;
  text-indent: -999px;
  border: none;
}

/* ----------------------------------------------------------------------------------------------------------
09 Media queries --------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------- */


/* RESPONSIVE
-------------------------------------------------- */
/*
    @media (max-width: 1186px) {
 .banner-caption {
	    	/*	width: 18%; */
	    	/*
	    	position: absolute;
 left: 20%;
 top: 6%;
 color: #007ac3;
}
 #intro-caption {
 font-family: 'Roboto', sans-serif;
 text-align: center;
 font-size: 60px;
 line-height: 70px;
}
 .banner-caption p {
 font-size: 1em;
}
}
 @media (max-width: 979px) {
 .navbar-fixed-top {
 margin-bottom: 0;
}
 .navbar .container {
 width: 100%;
}
 .navbar .brand {
 margin-top: 0;
}
 .navbar .btn-navbar {
 margin-top: 0;
}
 .navbar-fixed-top .navbar-inner {
 padding: 0px;
}
 .featurette {
 height: auto;
 padding: 0;
}
 .featurette-image.pull-left,  .featurette-image.pull-right {
 display: block;
 float: none;
 max-width: 40%;
 margin: 0 auto 20px;
}
}
 @media (min-width: 768px) and (max-width: 979px) {
 #headerwrap {
 padding-top:0;
}
}
 @media (max-width: 767px) {
 .container {
 padding-right: 5px;
 padding-left: 5px;
}
*/





 .navbar-fixed-top,  .navbar-fixed-bottom,  .navbar-static-top {
 margin-right: 0px;
 margin-left: 0px;
 margin-bottom:0px;
 padding-bottom:0px;
}
 .navbar-inner {
 margin: 0;
}
 .carousel {
 margin-left: -20px;
 margin-right: -20px;
}
 .carousel .container {
}
 .carousel-caption {
 width: 65%;
 padding: 0 70px;
 margin-top: 100px;
}
 .carousel-caption h1 {
 font-size: 30px;
}
 .carousel-caption .lead,  .carousel-caption .btn {
 font-size: 18px;
}
 .featurette-heading {
 font-size: 30px;
}
 .featurette .lead {
 font-size: 18px;
 line-height: 1.5;
}


    /* Smaller screens ----------- */
	@media (max-width : 480px) {
 #headerwrap {
 padding-top:0;
}
 #headerwrap h1 {
 font-size:2em;
}
 #headerwrap h2 {
 font-size:1em;
}
 #headerwrap input[type="text"] {
 width: 100%;
}
 #headerwrap input[type="submit"] {
 margin-top:1em;
 width: 135px;
}
 .container {
1px solid yellow;
}
 #team .team-thumb {
 margin-right: auto;
 margin-left: auto;
 width: 150px;
 display: block;
 text-align:center
}
 #feature article p {
 font-family: 'Roboto', sans-serif;
 font-size: 26px; /* font-size: 26px; */
 margin-bottom: 0;
 line-height: 30px;
 color: #fff;
}
}

    /* Smartphones (portrait and landscape) ----------- */
	@media only screen  and (min-device-width : 320px)  and (max-device-width : 480px) {
 #feature-headline {
 background: transparent;
 text-indent: 0;
 overflow: visible;
 margin-top: 1.5em;
}
 #navbar-inner {
 margin:	0;
}
 #banner { /*display: none;*/
}
 section.single-page {
 padding: 1em 0;
}

		/* Feature */
		#feature-badge {
/*	display: none; */
		}

		/* Portfolio & News */

		#news h1 {
 background: transparent;
}
 #news h1 span {
 background: transparent;
 padding: 0;
}
 #portfolio .container {
 top: 0 !important;
}
 #feature article p {
 font-family: 'Roboto', sans-serif;
 font-size: 26px; /* font-size: 26px; */
 margin-bottom: 0;
 line-height: 30px;
 color: #fff;
}
 .img-news {
 width: 100%;
}
 .img-news {
 margin-right: auto;
 margin-left: auto;
 display: block;
}
 section#portfolio hgroup h2 {
 margin-top: 1.5em;
}

		/* Services */

		#services h1 {
 background: transparent;
}
 #services h1 span {
 background: transparent;
 padding: 0;
}
 section#services h2 {
 margin-bottom: 0.25em;
}
 section#services h2, section#services ul {
 text-align: center;
}


	    /* Testimonials */

		section#testimonials { /*display: none;*/
}

		/* team */

		#team .team-thumb {
 margin-right: auto;
 margin-left: auto;
 width: 150px;
 display: block;
 text-align:center
}
 .job-position: {
 margin-bottom: 1.5em;
}
 .navbar-fixed-top, .navbar-fixed-bottom, .navbar-static-top {
 margin-left: auto;
 margin-right: auto;
}

		/* Contact Form */

		#theme-form {
 overflow: hidden;
}
 #theme-form input[type=submit] {
 width: 100%;
}
}

	/* Smartphones (landscape) ----------- */
	@media only screen  and (min-width : 321px) {
 #feature-headline {
 font-size: 32px; /* 34px */
}
}

	/* Smartphones (portrait) ----------- */
	@media only screen  and (max-width : 320px) {
 #feature-headline {
 font-size: 1.1875em; /* 19px */
}
 #feature article p {
 font-family: 'Roboto', sans-serif;
 font-size: 26px; /* font-size: 26px; */
 margin-bottom: 0;
 line-height: 30px;
 color: #fff;
}
}

	/* iPads (portrait and landscape) ----------- */
	@media only screen  and (min-device-width : 768px)  and (max-device-width : 1024px) {
 .banner-caption p {
 font-size: 0.6em;
}
 #intro-caption {
 font-size: 4em;
}
}

	/* iPads (landscape) ----------- */
	@media only screen  and (min-device-width : 768px)  and (max-device-width : 1024px)  and (orientation : landscape) {
/* Styles */
	}

	/* iPads (portrait) ----------- */
	@media only screen  and (min-device-width : 768px)  and (max-device-width : 1024px)  and (orientation : portrait) {
/* Styles */
	}

	/* Desktops and laptops ----------- */
	@media only screen  and (min-width : 1224px) {
/* Styles */
	}
