button.btn.btn-social.btn-facebook(onclick='facebookLogin()') Facebook
    script(type='text/javascript').
        function facebookLogin() {
            var FB = window.FB;
            var facebookScopes = '#{app.get("stormpathSocial").facebook.scopes}';
            var scopes = [];
            if (facebookScopes.length) {
                scopes = facebookScopes.join(',');
            } else {
                scopes = '';
            }
            FB.login(function (response) {
                if (response.status === 'connected') {
                    var queryStr = window.location.search.replace('?', '');
                    if (queryStr) {
                        window.location.replace('#{app.get("stormpathFacebookLoginUrl")}?' + queryStr + '&access_token=' + response.authResponse.accessToken);
                    } else {
                        window.location.replace('#{app.get("stormpathFacebookLoginUrl")}?access_token=' + response.authResponse.accessToken);
                    }
                }
            }, {scope: 'email' + (scopes ? ',' + scopes : '')});
        }
        window.fbAsyncInit = function () {
            FB.init({
                appId: '#{app.get("stormpathSocial").facebook.appId}',
                cookie: true,
                xfbml: true,
                version: 'v2.0'
            });
        };
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {
                return;
            }
            js = d.createElement(s);
            js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
                       