block vars
   - var title = 'Verification Failed'
   - var description = "Your verification token is invalid!"
   - var bodytag = 'login'

doctype html
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<!-- Mirrored from www.minimob.com/faq.html by HTTrack Website Copier/3.x [XR&CO'2013], Thu, 03 Oct 2013 09:44:39 GMT -->
head
   meta(charset="utf-8")
   meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
   title #{title}
   meta(name="description", content="Minimob offers total control when it comes to advertising strategy. With exclusive access to their message inventory, app owners can efficiently run targeted campaigns at no cost.")
   <!-- Styles -->
   link(href="/newres/css/bootstrap.css", rel="stylesheet")
   link(href="/newres/css/style.css?v=1", rel="stylesheet")
   link(href="/stylesheets/style.css?v=1", rel="stylesheet")
   link(rel="stylesheet", type="text/css", href="/newres/css/simple.css", media="screen")
   link(rel='stylesheet', id='prettyphoto-css',  href="/newres/css/prettyPhoto.css", type='text/css', media='all')
   link(href="/newres/css/fontello.css", type="text/css", rel="stylesheet")
   <!--[if lt IE 7]>
   link(href="/newres/css/fontello-ie7.css", type="text/css", rel="stylesheet")
   <![endif]-->
   <!-- Google Web fonts -->
   link(href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,900,300,100&amp;subset=latin,latin-ext', rel='stylesheet', type='text/css')
   <!--link href="/newres/css/bootstrap-responsive.css" rel="stylesheet"-->
   <!--link rel="stylesheet" type="text/css" href="/newres/css/responsive.css" media="screen" /-->
   link(rel="stylesheet", type="text/css", href="/newres/rs-plugin/css/settings.css", media="screen")
   <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
   <!--[if lt IE 9]>
   script(src="http://html5shim.googlecode.com/svn/trunk/html5.js")
   <![endif]-->
   <!-- Favicon -->
   link(rel="shortcut icon", href="/newres/img/favicon.ico")
   <!-- JQuery -->
   script(type="text/javascript", src="/newres/js/jquery.js")
   <!-- Load ScrollTo -->
   script(type="text/javascript", src="/newres/js/jquery.scrollTo-1.4.2-min.js")
   <!-- Load LocalScroll -->
   script(type="text/javascript", src="/newres/js/jquery.localscroll-1.2.7-min.js")
   <!-- prettyPhoto Initialization -->
   script(type="text/javascript", charset="utf-8").
      var tpj = jQuery;
      tpj.noConflict();
      tpj(document).ready(function () {
         tpj("a[rel^='prettyPhoto']").prettyPhoto();
      });
body(class="wide")
   div(class="navbar-wrapper")
      div(class="navbar navbar-inverse navbar-fixed-top")
         div(class="navbar-inner")
            div(class="container")
               <!-- Responsive Navbar Part 1: Button for triggering responsive navbar (not covered in tutorial). Include responsive CSS to utilize. -->
               a(class="btn btn-navbar", data-toggle="collapse", data-target=".nav-collapse")
                  span(class="icon-bar")
                  span(class="icon-bar")
                  span(class="icon-bar")
               h1(class="brand")
                  a(rel="home", title="Minimob Push Notifications", href="http://www.minimob.com/index.html")
                     img(alt="Minimob", src="/newres/img/logo.png")
               <!-- Responsive Navbar Part 2: Place all navbar contents you want collapsed withing .navbar-collapse.collapse. -->
               nav(class="pull-right nav-collapse collapse")
                  ul(id="menu-main", class="nav")
                     li(style="position:relative; left:-20px; top:10px; color:#919191;")
                        a(style="font-size:12px; color:#919191;", href="http://blog.minimob.com/") BLOG
   div(id="top1")
   div(id="top")
   <!-- ******************** HeaderWrap ********************-->
   <!--******************** Feature ********************-->
   <!--******************** Portfolio Section ********************-->
   section(id="textGen", class="single-page scrollblock page-login-register")
      div(class="container_top")
         div(class="content-container")
            div(class="icon-robot")
            div(class="login-box")
               div(class="login-box_callout")
               h1(class="login-box_heading") Welcome to Minimob
               <!--******************** Stormpath login Section ********************-->
               .view.login-view
                  .email-password-area
                     .header
                        span.
                           Verification Failed
                        p(class="description").
                           Your account verification has failed.  This might happen for
                           several reasons: your verification token might be expired, it
                           might have already been used, or we may just be having issues
                           right now!  Please try again, and if you're still having
                           problems, contact the site administrator for help!
                     a.to-login(href="#{app.get('stormpathLoginUrl')}") Back to Sign In
               div(class="login-designdetail")
   <!--******************** Footer Section ********************-->
   div(class="footer-wrapper")
      footer
         div(class="container")
            div(class="row")
               div(class="span2 copyright")
                  p &copy; Minimob 2015
               div(class="span8 links")
                  ul
                     <!--li><a href="http://www.minimob.com/faq.html">FAQ</a></li>-->
                     li
                        a(href="http://blog.minimob.com/") Blog
                     li
                        a(href="mailto:info@minimob.com") Contact us
                     li
                        a(href="http://www.minimob.com/privacy-policy.html") Privacy policy
                     li
                        a(href="http://www.minimob.com/use-policy.html") Use policy
                     li(class="last")
                        a(href="http://unpush.me") Opt out
               div(class="span2 top")
                  p
                     a(href="#top1") Back to the top
                        i(class="icon-arrow-up icon-white")
<!-- ./container -->
<!-- Loading the javaScript at the end of the page -->
script(type="text/javascript", src="/newres/js/bootstrap.js")
script(type="text/javascript", src="/newres/js/jquery.prettyPhoto.js")
<!-- jQuery KenBurn Slider  -->
script(type="text/javascript" src="/newres/rs-plugin/js/jquery.themepunch.plugins.min.js")
script(type="text/javascript" src="/newres/rs-plugin/js/jquery.themepunch.revolution.min.js")
<!--ANALYTICS CODE-->
script(type="text/javascript").
   var tpj = jQuery;
   tpj.noConflict();

<!-- Mirrored from www.minimob.com/faq.html by HTTrack Website Copier/3.x [XR&CO'2013], Thu, 03 Oct 2013 09:44:39 GMT -->
