﻿<header class="header">
    <p class="text">Complete any offer to earn credits:</p>
</header>
<div class="main-container">
    <div id="scrollCont" class="clearfix">

        <div class="item-list">

            <div class="item-list-element" ng-repeat="ad in ads">
                <div class="wrapper clearfix">
                    <div class="item-list-element-icon">
                        <img ng-src="{{ad.creative_url}}">
                    </div>
                    <div class="item-list-element-content">
                        <h2 class="item-list-element-title">{{ad.title}}</h2>
                        <div class="item-list-element-tags"><span>App</span></div>
                        <article class="item-list-element-description">{{ad.description}}</article>
                        <div class="item-list-element-options clearfix">
                            <a class="item-list-element-button" target="_self" href="{{ad.url}}">{{ad.credits}} {{query.label}}</a>
                            <div class="item-list-element-remaining">Only <strong>{{ad.left}}</strong> left!</div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="spinner" ng-show="isLoading"><img src="images/fbf_ani.gif"></div>
        <div class="load-button" ng-show="showLoadMore">
            <button class="button js-load-button" ng-click="loadMore()">Load more offers</button>
        </div>

    </div>
</div>