﻿<!DOCTYPE html>

<head>
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>


    <script>
        function upload()
        {
            var data = new FormData();
            $.each($('#uploads1')[0].files, function(i, file) {
                data.append('uploads', file);
            });
            var title = $('#title').val()
            var category = $('#category_id').val()
            var description = $('#description').val()

            data.append('title',title);
            data.append('category_id',category);
            data.append('description',description);

            $.ajax({
                url: '/cnnApp/api/v1/articles',
                data: data,
                cache: false,
                contentType: false,
                processData: false,
                type: 'POST',
                success: function(data){
                    alert(JSON.stringify(data));
                }
            });
        }

        function delArticle()
        {
            //var data = new FormData();
            var article_id = $('#article_id').val()

            //data.append('category',category);

            $.ajax({
                url: '/cnnApp/api/v1/articles',
                data: JSON.stringify({article_id:article_id}),
                contentType: 'application/json',
                type: 'DELETE',
                success: function(data){
                    alert(JSON.stringify(data));
                }
            });
        }


        function addCat()
        {
            //var data = new FormData();
            var category = $('#categoryadd').val()

            //data.append('category',category);

            $.ajax({
                url: '/cnnApp/api/v1/categories',
                data: JSON.stringify({category:category}),
                contentType: 'application/json',
                type: 'POST',
                success: function(data){
                    alert(JSON.stringify(data));
                }
            });
        }

        function updateCat()
        {
            //var data = new FormData();
            var category = $('#categoryupdate').val()
            var category_id = $('#category_id_update').val()

            //data.append('category',category);

            $.ajax({
                url: '/cnnApp/api/v1/categories',
                data: JSON.stringify({category:category,category_id:category_id}),
                contentType: 'application/json',
                type: 'PUT',
                success: function(data){
                    alert(JSON.stringify(data));
                }
            });
        }

        function deleteCat()
        {
            var category_id = $('#category_id_delete').val()
            $.ajax({
                url: '/cnnApp/api/v1/categories',
                data: JSON.stringify({category_id:category_id}),
                contentType: 'application/json',
                type: 'DELETE',
                success: function(data){
                    alert(JSON.stringify(data));
                }
            });
        }




    </script>

</head>
<body>
<div style="border:1px solid;padding:10px">

    <a href="/logout">Logout</a>
    <p>Articles</p>
    <p><a href="/cnnApp/api/v1/articles">getAllArticles(/cnnApp/api/v1/articles or /cnnApp/api/v1/articles?id=articleId)</a></p>

    <form action="/cnnApp/api/v1/articles" method="post" enctype="multipart/form-data">
        Category id<input type="text" name="category_id"><br>
        Title <input type="text" name="title"><br>
        Description <input type="text" name="description"><br>
        Input file: <input type="file" multiple name="uploads">
        <input type="submit" value="Submit">
    </form>

    <div style="margin-top:50px">
        Category id<input type="text" name="category_id" id="category_id"><br>
        Title <input type="text" name="title"  id="title"><br>
        Description <input type="text" name="description" id="description"><br>
        Input file: <input type="file" multiple name="uploads" id="uploads1">
        <div style="background:red;width:100px;text-align: center" onclick="upload()">Create Article</div>
    </div>

    <div style="margin-top:50px">
        Article id <input type="text" name="article_id" id="article_id"><br>
        <div style="background:red;width:100px;text-align: center" onclick="delArticle()">Delete Article</div>
    </div>
</div>

<div style="border:1px solid;margin-top:50px;padding:10px">
    <p>Categories</p>
    <p><a href="/cnnApp/api/v1/categories">getAllCategories(/cnnApp/api/v1/categories or /cnnApp/api/v1/categories?id=categoryId)</a></p>
    <div style="margin-top:50px">
        Category <input type="text" name="category" id="categoryadd"><br>
        <div style="background:red;width:100px;text-align: center" onclick="addCat()">Add Category</div>
    </div>

    <div style="margin-top:50px">
        Category id <input type="text" name="category_id_update" id="category_id_update"><br>
        Category <input type="text" name="categoryupdate" id="categoryupdate"><br>
        <div style="background:red;width:100px;text-align: center" onclick="updateCat()">Update Category</div>
    </div>


    <div style="margin-top:50px">
        Category id<input type="text" name="category_id_delete" id="category_id_delete"><br>
        <div style="background:red;width:100px;text-align: center" onclick="deleteCat()">Delete Category</div>
    </div>
</div>


</body>
</html>


