<!DOCTYPE html>
    <!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
    <!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
    <!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
    <!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <base href="/">
    <title>AdWall</title>
    <meta name="description" content="Win wasabee credits by installing an app!">
    <meta name="viewport" content="width=device-width">
    <script src="bower_components/jquery/dist/jquery.js"></script>
        <script>
           function doOpen(verb,target) {
                var form = document.createElement("form");
                form.action = "/offerwall";
                form.method = verb;
                form.target = target || "_self";
                var paramsAreaVal = JSON.parse(document.getElementById("paramsArea").value);  //$.toJSON( $('textarea').val().split(/\n|\r/) );
                if (paramsAreaVal) {
                    for (var key in paramsAreaVal) {
                        var input = document.createElement("textarea");
                        input.name = key;
                        input.value = typeof paramsAreaVal[key] === "object" ? JSON.stringify(paramsAreaVal[key]) : paramsAreaVal[key];
                        form.appendChild(input);
                    }
                }
                form.style.display = 'none';
                document.body.appendChild(form);
                form.submit();
            };

           function doOpenApi(verb,target) {
               var form = document.createElement("form");
               form.action = "/api/ads/";
               form.method = verb;
               form.target = target || "_self";
               var paramsAreaVal = JSON.parse(document.getElementById("paramsArea").value);  //$.toJSON( $('textarea').val().split(/\n|\r/) );
               if (paramsAreaVal) {
                   for (var key in paramsAreaVal) {
                       var input = document.createElement("textarea");
                       input.name = key;
                       input.value = typeof paramsAreaVal[key] === "object" ? JSON.stringify(paramsAreaVal[key]) : paramsAreaVal[key];
                       form.appendChild(input);
                   }
               }
               form.style.display = 'none';
               document.body.appendChild(form);
               form.submit();
           };

           function doOpenApi1(verb,target) {
               var paramsAreaVal = JSON.parse(document.getElementById("paramsArea").value);
               $.ajax({
                   url: "/api/ads/",
                   data:paramsAreaVal,
                   method:verb
               }).done(function(data ) {
                   var w = window.open();
                   console.log(JSON.stringify(data))
                   $(w.document.body).html(JSON.stringify(data));
               });
           };

        </script>
</head>
<body>
    <textarea id="paramsArea" style="float:left" rows="50" cols="50">{
"userId": "123123",
"userIdType": "ANDROID_ID",
"userIdHashAlg": "md5",
"localAppId": "air.com.goodgamestudios.empirefourkingdoms",
"universalAppId": "air.com.goodgamestudios.empirefourkingdoms",
"publisherId": "",
"dataTransfer": "",
"platform": "",
"osversion": "",
"devicebrand": "",
"devicemodel": "",
"carrier": "",
"locale": "",
"ooiba": "",
"allowInstallFromUnknownSources":"false",
"lat":"",
"lon":"",
"creative":"logo",
"country":"FR",
"page":"1",
"limit": "5",
"sortingAlg":"",
"totalLimit":"",
"useUserCache":"true",
"offerCategory":""
}</textarea>
    <div style="float:left">
        <div style="margin:10px">
            <div style="padding:10px;margin:2px;border:1px solid black;float:left;text-align: center" onClick="doOpen('POST')">AdWall POST ME</div>
            <div  style="padding:10px;margin:2px;border:1px solid black;float:left;text-align: center" onClick="doOpen('GET')">AdWall GET ME</div>
            <div style="clear: both"></div>
        </div>
        <div style="margin:10px">
            <div style="padding:10px;margin:2px;border:1px solid black;float:left;text-align: center" onClick="doOpenApi('POST')">Ad POST ME</div>
            <div  style="padding:10px;margin:2px;border:1px solid black;float:left;text-align: center" onClick="doOpenApi('GET')">Ad GET ME</div>
            <div style="clear: both"></div>
        </div>
    </div>
    <div style="clear: both"></div>


    <!--form action="/offerwall" onsubmit="" method="POST">
        1) appid :<input id="postParams" type="text" name="appid"><br>
        2) pageNo : <input id="postParams" type="text" name="pageNo"><br>
        3) pageSize : <input id="postParams" type="text" name="pageSize"><br>
        4) userId : <input id="postParams" type="text" name="userId"><br>
        5) User Identification Method(uim) : <input id="postParams" type="text" name="uim"><br>
        6) publisherId : <input id="postParams" type="text" name="publisherId"><br>
        7) appIdentifier : <input id="postParams" type="text" name="appIdentifier"><br>
        8) Data Transfer Protocol (dataTransfer) : <input id="postParams" type="text" name="dataTransfer"><br>
        9) platform : <input id="postParams" type="text" name="platform"><br>
        10) osversion : <input id="postParams" type="text" name="osversion"><br>
        11) Device Brand(devicebrand) : <input id="postParams" type="text" name="devicebrand"><br>
        12) Device Model (devicemodel) : <input id="postParams" type="text" name="devicemodel"><br>
        13) carrier : <input id="postParams" type="text" name="carrier"><br>
        14) locale : <input id="postParams" type="text" name="locale"><br>
        15) Optout of Interest Based Ads(ooiba) : <input id="postParams" type="text" name="ooiba"><br>
        <button type="submit" >Submit</button>
    </form-->
</body>
</html>


